.footer {
    background-color: #6278F7;
    background-image: url("../../../public/imagens/fundo.png");
    display: flex;
    justify-content: space-around; /* Coloca os itens com espaçamento igual entre eles */
    align-items: center; /* Alinha os itens verticalmente no centro */
    padding: 20px;

}

.icones {
    display: flex;
    gap: 20px; /* Espaço entre os ícones */
}

.icones a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px; /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    margin-top: px;
}

.footer-text h5 {
    font-size: 14px; /* Tamanho do texto */
    color: #FFF; /* Cor do texto */
}