.footer {
    background-color: #6278F7;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 30px;

}

.icones {
    display: flex;
    gap: 20px;
}

.icones a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;

}

.footer-text h5 {
    font-size: 14px;
    color: #FFF;
}
